.ytp-settings-button-active {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) 0 -247px !important;
    background-size: auto !important;
    width: 25px !important;
    height: 27px !important;
    filter: brightness(2);
}

.ytp-settings-hd-quality-badge {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -136px 0;
    background-size: auto;
    width: 13px;
    height: 9px;
    margin-left: auto;
    margin-top: 1px;
    left: 17px;
    position: absolute;
}

/* https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png */

.ytp-button-watch-later {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -93px -623px;
    background-size: auto;
    width: 22px;
    height: 27px;
}

.ytp-button-watch-on-youtube {
    display: none;
    float: right;
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -93px -217px;
    background-size: auto;
    width: 52px;
    height: 27px;
}

.ytp-button-watch-on-youtube:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -12px -953px;
    background-size: auto;
    width: 52px;
    height: 27px
}

.embed .ytp-button-watch-on-youtube {
    display: block;
}

.ytp-button-watch-later:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -44px -891px;
    background-size: auto;
    width: 22px;
    height: 27px;
}

.ytp-button-watch-later.html5-async-progress,
.ytp-button-watch-later.html5-async-progress:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) 0 -1108px;
    background-size: auto;
    width: 25px;
    height: 27px
}

.ytp-button-watch-later.html5-async-success,
.ytp-button-watch-later.html5-async-success:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -93px -1186px;
    background-size: auto;
    width: 25px;
    height: 27px
}

.html5-info-bar {
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    height: 28px;
    z-index: 880;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
    overflow: hidden;
    -moz-transition: top 0.05s ease-in;
    -ms-transition: top 0.05s ease-in;
    -o-transition: top 0.05s ease-in;
    -webkit-transition: top 0.05s ease-in;
    transition: top 0.05s ease-in;
}

.full-screen .html5-info-bar {
    display: block;
}

.html5-title {
    font-size: 16px;
    line-height: 29px;
    padding-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.yt-uix-button.yt-uix-button-player {
    float: left;
    white-space: nowrap;
    font-size: 11px;
    font-weight: normal;
    color: #999;
    position: relative;
    filter: none;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.yt-uix-button.yt-uix-button-player,
.yt-uix-button.yt-uix-button-player:hover,
.yt-uix-button.yt-uix-button-player:focus {
    color: #999;
    padding: 0;
    height: 100%;
    border: none;
    filter: none;
    background: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.html5-info-panel {
    position: absolute;
    top: 28px;
    background: rgba(0, 0, 0, .7);
    text-align: left;
    width: 100%;
    height: 100%;
    z-index: 880;
    opacity: 0;
    border-top: 1px solid #222;
}

.show-more-info .html5-info-panel {
    opacity: 1
}

.html5-info-bar.show-more-info {
    height: 100%;
}

.html5-info-bar-buttons {
    float: right
}

.html5-more-info-button .yt-uix-button-icon {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vfloYYly0.png) 0 0;
    width: 22px;
    height: 23px;
    margin-top: 3px;
}

.html5-info-panel-content {
    padding: 9px 20px;
}

.html5-author,
.html5-author-img,
.html5-video-info,
.html5-description-text {
    float: left;
}

.html5-author-img,
.html5-author-img img {
    width: 45px;
    height: 45px;
}

.html5-author-img .video-thumb {
    height: auto;
    width: auto;
}

.html5-author-img .yt-thumb-clip,
.html5-author-img .yt-thumb-clip-inner {
    position: static;
}

.html5-author-info {
    margin-top: 12px;
    margin-left: 54px;
}

.html5-subscriber-count {
    padding-right: 35px;
}

.show-more-info .html5-more-info-button .yt-uix-button-icon {
    border-bottom: 3px solid #b91f1f;
}

.html5-author-name,
.html5-subscriber-count {
    padding-left: 3px;
}

.html5-author-name {
    font-size: 17px;
}

.html5-video-info {
    width: 165px;
    clear: left;
    margin-top: 12px;
}

.html5-video-info .video-extras-sparkbars {
    height: 4px;
    margin: 2px 0;
    border: 1px solid #ccc;
    overflow: hidden;
}

.html5-video-info .video-extras-sparkbar-dislikes {
    float: right;
    height: 4px;
    margin-right: -1px;
    background: #c00;
}

.html5-description-text {
    white-space: pre-wrap;
    margin-top: 19px;
    margin-left: 32px;
}

.html5-share-button .yt-uix-button-icon {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-common-vfloYYly0.png) -28px -68px;
    width: 22px;
    height: 23px;
    margin-top: 3px;
}

.html5-control-right.yt-uix-button.yt-uix-button-player,
.html5-control-right.yt-uix-button.yt-uix-button-player:focus,
.html5-control-right.yt-uix-button.yt-uix-button-player:hover {
    float: right;
}

.theater-mode #watch-player {
    width: 100%;
    height: 100%;
}

#watch-player {
    width: 640px;
    height: 390px
}

#watch-player .settings-menu {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background: #1C1C1C;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#watch-player .settings-menu button {
    font-size: 10px;
    padding: 5px;
    color: #9E9E9E;
    margin-bottom: 2px;
    width: 100%;
}

#watch-player .settings-menu button:hover {
    background-color: #630000;
}

#watch-player .settings-menu .selected:hover {
    background-color: #0F0F0F;
}

#watch-player .settings-menu .selected {
    font-size: 10px;
    padding: 5px;
    color: #ffffff !important;
    background-color: #0F0F0F;
    margin-bottom: 2px;
    border: 1px solid #202020;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#watch-player .settings-menu .selected::before {
    content: '•';
    /* Bullet character */
    display: inline-block;
    margin-right: 5px;
    /* Spacing between the bullet and content */
    font-size: 16px;
    /* Same line height as the container */
    top: 3px;
    position: relative;
}

#watch-player .ul-container {
    display: flex;
    /* Use a flex container to place the <ul> elements side by side */
}

#watch-player ul {
    list-style: none;
    /* Remove default list styling */
    padding: 0;
    /* Remove any default padding */
    margin: 0;
    /* Remove any default margin */
    display: inline-block;
    width: 100%;
    /* Set <ul> elements to inline-block to make them display horizontally */
}

.watch-medium #watch-player {
    width: 100%;
}

#watch-player .full-screen .large-player-btn,
#watch-player .full-screen .small-player-btn {
    display: none
}

body {
    margin: 0;
}

.video-container {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-inline: auto;
    background-color: black;
}

.video-container.theater,
.video-container.full-screen {
    max-width: initial;
    width: 100%;
}

.video-container.theater {
    max-height: 90vh;
}

.video-container.full-screen {
    max-height: 100vh;
}

video {
    height: calc(100% - 35px);
    width: 100%;
    display: flex
}

.full-screen video {
    height: 100%;
}

.video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}



.video-controls-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    /* background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);*/
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    left: 0px;
    pointer-events: none;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.replay .video-controls-container,
.video-container.paused .video-controls-container {
    opacity: 1;
}

.video-controls-container .controls {
    display: flex;
    gap: .5rem;
    height: 27px;
    padding: unset;
    align-items: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAdCAYAAABrAQZpAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAABAAAAHQAh4gKwAAAAMUlEQVQI12OQlJD4x2Sgr8/I9OTZs5dM//79Y2T6//8/IyqLAcLClEBjYahDKCHSKADN5VNQpdTxzgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;

}

.video-controls-container .controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    outline: unset;
    transition: opacity 150ms ease-in-out;
}

.video-container.paused .pause-icon {
    display: none;
}

.video-container:not(.paused) .play-icon {
    display: none;
}

.video-container.replay .pause-icon,
.video-container.replay .play-icon {
    display: none;
}

:root {
    --progress-bar-rainbow: #ffffff;
    --rainbow-animation-duration: 0.7s;
    /* Adjust the animation duration as needed */
}

@keyframes rainbowAnimation {
    0% {
        --progress-bar-rainbow: #ff0000;
        /* Red */
    }
    10% {
        --progress-bar-rainbow: #ff7f00;
        /* Orange */
    }
    20% {
        --progress-bar-rainbow: #ffff00;
        /* Yellow */
    }
    30% {
        --progress-bar-rainbow: #00ff00;
        /* Green */
    }
    40% {
        --progress-bar-rainbow: #0000ff;
        /* Blue */
    }
    50% {
        --progress-bar-rainbow: #4b0082;
        /* Indigo */
    }
    60% {
        --progress-bar-rainbow: #9400d3;
        /* Violet */
    }
    70% {
        --progress-bar-rainbow: #ff1493;
        /* Pink */
    }
    80% {
        --progress-bar-rainbow: #00ffff;
        /* Cyan */
    }
    90% {
        --progress-bar-rainbow: #ffa500;
        /* Gold */
    }
    100% {
        --progress-bar-rainbow: #800080;
        /* Back to Red */
    }
}

body {
    animation: rainbowAnimation var(--rainbow-animation-duration) infinite;
}

.replay-icon {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) 0 -79px;
    background-size: auto;
    width: 55px;
    height: 27px
}

.replay-icon:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -34px -514px;
    background-size: auto;
    width: 55px;
    height: 27px
}

.video-container:not(.replay) .replay-icon {
    display: none;
}

.video-container.theater .tall {
    display: none;
}

.video-container:not(.theater) .wide {
    display: none;
}

.video-container.full-screen .open {
    display: none;
}

.video-container:not(.full-screen) .close {
    display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
    display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
    display: block;
}

.video-container[data-volume-level="low"] .volume-high-icon {
    display: none;
}

.video-container[data-volume-level="low"] .volume-low-icon {
    display: block;
}

.video-container[data-volume-level="muted"] .volume-high-icon {
    display: none;
}

.video-container[data-volume-level="muted"] .volume-low-icon {
    display: none;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
    display: block;
}

.volume-container {
    display: flex;
    align-items: center;
  border-right: 1px solid #222;
}

.volume-slider {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
    width: 100px;
    transform: scaleX(1);
}

.duration-container {
    display: flex;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
    font-size: 11px;
    float: left;
    line-height: 28px;
}

.video-container.captions .captions-btn {
    opacity: 1;
}

.video-controls-container .controls button.wide-btn {
    width: 50px;
}

.timeline-container {
    height: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.timeline {
    background-color: #1e1f1f;
    height: 7px;
    width: 100%;
    position: relative
}

#watch-player:hover .timeline {
    height: 7px;
    margin-top: unset;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(var(--loaded-position) * 100);
    background: #777;
    background-size: 100% 100%;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background: linear-gradient(to bottom,#c00 0,#600 100%);
}

.old-player .timeline::after {
    background-image: linear-gradient(to bottom, #c00 0, #600 100%);
}

.timeline .thumb-indicator {
    position: absolute;
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 99.6%);
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-common-vfloYYly0.png) -39px -234px;
    border-radius: 50%;
    z-index: 999999999;
    aspect-ratio: 1 / 1;
    margin-right: 15px;
}

.timeline .thumb-indicator:hover {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/player-common-vfloYYly0.png) -1px -98px;
  
}

.volume-slider::before {
    content: '';
    position: absolute;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%) rotate(-90deg);
    /* Rotate the handle vertically */
    width: 100%;
    /* Set the width to 100% of the parent (slider) */
    height: 100%;
    /* Set the height to 100% of the parent (slider) */
}

.old-player .timeline .thumb-indicator {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vfloYYly0.png) -39px -234px
}

.old-player .timeline .thumb-indicator:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vfloYYly0.png) -1px -98px
}

.timeline .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
}

.timeline-txttime {
    position: absolute;
    left: calc(var(--preview-position) * 95%);
    bottom: 8px;
    display: none;
}

.thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.video-container.scrubbing .thumbnail-img {
    display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .timeline-txttime,
.timeline-container:hover .preview-img {
    display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
    display: block;
}

.time-separator {
    color: #999;
}

.total-time {
    color: #999;
}

.playlist-bar-item .title {
    top: unset !important;
    height: 60px !important;
}

.playlist-bar-item-playing .title {
    top: 20px !important;
    height: 40px !important;
}

.watch-medium #watch-player {
    width: 100%;
}

#watch-player .full-screen .large-player-btn,
#watch-player .full-screen .small-player-btn {
    display: none
}

#watch-player *,
#watch-player *::before,
#watch-player *::after {
    box-sizing: border-box !important;
}

.play-icon {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -96px -231px;
    background-size: auto;
    width: 100%;
    height: 100%;
}

.play-icon:hover {
    background: no-repeat url(http://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -121px -42px;
    background-size: auto;
    width: 100%;
    height: 100%;
}

.old-player .play-icon {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -106px -230px;
    filter: brightness(1.5);
    box-sizing: border-box !important;
    /* Include the border within the element's dimensions */
}

.old-player .play-icon:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -131px -41px;
    filter: brightness(1.5);
}

.pause-icon {
    background: no-repeat url(http://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -64px -177px;
    background-size: auto;
    width: 100%;
    height: 100%;
}

.pause-icon:hover {
    background: no-repeat url(http://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -64px -258px;
    background-size: auto;
    width: 100%;
    height: 100%;
}

.old-player .pause-icon {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -74px -257px;
    box-sizing: border-box;
    /* Include the border within the element's dimensions */
}

.old-player .pause-icon:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -74px -257px;
    filter: brightness(2.5);
}

.video-controls-container .controls .mute-btn {
    width: 35px;
    height: 27px;
  
}

.volume-high-icon {
    background: no-repeat url(http://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -154px -258px;
    background-size: auto;
    width: 35px;
    height: 27px;
}

.volume-high-icon:hover {
    background: no-repeat url(http://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -122px -123px;
    background-size: auto;
    width: 35px;
    height: 27px;
}

.old-player .volume-container {
    border-right: 1px solid #222;
    border-left: 1px solid #222;
    box-sizing: border-box;
    /* Include the border within the element's dimensions */
}

.old-player .volume-high-icon {
    background: url(https://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -150px -257px;
    filter: brightness(1.5);
}

.old-player .volume-high-icon:hover {
    filter: brightness(2.5);
}

.volume-low-icon {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -122px -258px;
    background-size: auto;
    width: 35px;
    height: 27px;
}

.volume-low-icon:hover {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -97px -204px;
    background-size: auto;
    width: 35px;
    height: 27px;
}

.old-player .volume-low-icon {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -118px -257px;
    filter: brightness(1.5);
}

.old-player .volume-low-icon:hover {
    filter: brightness(2.5);
}

.volume-muted-icon {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -122px -15px;
    background-size: auto;
    width: 35px;
    height: 27px;
}

.volume-muted-icon:hover {
    background: no-repeat url(http://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -1px -42px;
    background-size: auto;
    width: 35px;
    height: 27px
}

.old-player .volume-muted-icon {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -118px -14px;
    filter: brightness(1.5);
}

.old-player .volume-muted-icon:hover {
    filter: brightness(2.5);
}

.full-screen-btn .open {
background: no-repeat url(//s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -89px -124px;
    background-size: auto;
    width: 30px;
    height: 27px;
}

.full-screen-btn .close {
background: no-repeat url(//s.ytimg.com/yts/imgbin/player-darkhh-vflvDcUVL.png) 0 -2187px;
    background-size: auto;
    width: 30px;
    height: 27px;
}

.full-screen-btn .open:hover {
background: no-repeat url(//s.ytimg.com/yts/imgbin/player-darkhh-vflvDcUVL.png) 0 -1377px;
    background-size: auto;
    width: 30px;
    height: 27px
}

.full-screen-btn .close:hover {
background: no-repeat url(//s.ytimg.com/yts/imgbin/player-dark-vfllzTuHQ.png) -64px -151px
    background-size: auto;
    width: 30px;
    height: 27px
}

.old-player .full-screen-btn .open {
    background: no-repeat url(https://s.ytimg.com/yt/imgbin/player-dark-vflf2FniH.png) -129px -43px;
    filter: brightness(1.5);
    border-left: 1px solid #222;
    height: 26px !important;
    z-index: -1;
}

.old-player .full-screen-btn .open:hover {
    background: no-repeat url(https://s.ytimg.com/yt/imgbin/player-dark-vflf2FniH.png) -129px -43px;
    filter: brightness(2.5);
}

.old-player .full-screen-btn .close {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflGwqWf5.png) 0 -433px;
    filter: brightness(1.5);
    height: 26px !important;
    border-left: 1px solid #222;
}

.old-player .full-screen-btn .close:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflGwqWf5.png) 0 -433px;
    filter: brightness(2.5);
}

.video-controls-container .controls .settings-btn {
    width: 25px;
    height: 27px;
    position: relative
}

.settings-btn .open {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -55px -1015px;
    background-size: auto;
    width: 25px;
    height: 27px;
}

.settings-btn .open:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -127px -423px;
    background-size: auto;
    width: 25px;
    height: 27px;
}

.old-player .settings-btn .open {
    background: no-repeat url(https://s.ytimg.com/yt/imgbin/player-dark-vflf2FniH.png) -89px -67px;
    filter: brightness(1.5);
    border-left: 1px solid #222;
}

.old-player .settings-btn .open:hover {
    filter: brightness(2.5);
}

.settings-btn .close {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -55px -1015px;
    background-size: auto;
    width: 25px;
    height: 27px;
}

.settings-btn .close:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -127px -423px;
    background-size: auto;
    width: 25px;
    height: 27px;
}

.old-player .settings-btn .close {
    background: no-repeat url(https://s.ytimg.com/yt/imgbin/player-dark-vflf2FniH.png) -90px -66px;
    filter: brightness(1.5);
    border-left: 1px solid #222;
    width: 25px;
}

.old-player .settings-btn .close:hover {
    filter: brightness(2.5);
}

.video-controls-container .controls .small-player-btn {
    width: 25px;
    height: 27px;
}

.theater-mode .small-player-btn .open {
    display: none
}

.theater-mode .small-player-btn .close {
    display: block
}

.small-player-btn .open {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) 0 -824px;
    background-size: auto;
    width: 30px;
    height: 27px;
}

.small-player-btn .close {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -39px -576px;
    background-size: auto;
    width: 30px;
    height: 27px;
}

.small-player-btn .open:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -34px 0;
    background-size: auto;
    width: 30px;
    height: 27px;
}

.small-player-btn .close:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -127px -392px;
    background-size: auto;
    width: 30px;
    height: 27px;
}

.old-player .small-player-btn .open {
    background: no-repeat url(https://s.ytimg.com/yt/imgbin/player-dark-vflf2FniH.png) -121px -338px;
    border-left: 1px solid #222;
}

.old-player .active {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflGwqWf5.png) -34px -2151px;
    filter: brightness(3.5);
    opacity: 1;
}

.custom-context-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    list-style: none;
    z-index: 100;
    width: 300px;
}

.custom-context-menu ul {
    padding: 0;
    margin: 0;
}

.custom-context-menu li {
    display: flex;
    /* Use flexbox for alignment */
    align-items: center;
    /* Vertically center the items */
    padding: 5px;
    cursor: pointer;
    padding: 5px
}

.custom-context-menu a {
    text-decoration: none;
    color: #333;
}

.ytp-menu-container {
    background-color: rgba(0, 0, 0, 0);
    bottom: 27px;
    position: absolute;
    right: 10px;
    z-index: 800;
    outline: none;
}

.ytp-menu {
    cursor: auto;
    padding: 4px;
    background-color: rgba(31, 31, 31, .9);
    margin-bottom: 8px;
    font-size: 11px;
    color: #fff;
}

.ytp-menu-content {
    display: table;
    border-spacing: 10px;
}

.ytp-menu-row {
    display: table-row;
}

.ytp-menu-title {
    padding-right: 6px;
    text-align: right;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.ytp-menu-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.ytp-segmented-control {
    display: flex;
}

.ytp-segmented-control-selected {
    border-color: #101010;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    font-size: 90%;
    line-height: 16px;
    min-height: 16px;
    min-width: 26px;
    padding: 1px;
    text-align: center;
    background-color: #e6e6e6;
    color: #101010
}

.ytp-segmented-control-selected:hover {
    background-color: #f6f6f6;
    color: #000
}

.ytp-segmented-control-deselected {
    background-color: #646464;
    border-color: #101010;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #bbb;
    font-size: 90%;
    line-height: 16px;
    min-height: 16px;
    min-width: 26px;
    padding: 1px;
    text-align: center;
}

.ytp-segmented-control-deselected:hover {
    background-color: #767676;
    color: #ccc
}

.ytp-segmented-control-other {
    margin-left: -1px;
}

.ytp-drop-down {
    display: inline-block;
    position: relative;
}

.ytp-drop-down-menu,
.ytp-drop-down-label,
.ytp-drop-down-background {
    background-color: #e6e6e6;
    border-color: #101010;
    border-style: solid;
    border-width: 1px;
}

.html5-endscreen,
.fresca-loaded.endscreen-loaded .html5-endscreen {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    cursor: default;
    overflow: hidden;
    z-index: 860;
}

.videowall-still:hover .videowall-info,
.videowall-still:focus .videowall-info {
    opacity: 0.86
}

.html5-endscreen-content {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

.video-ended .html5-endscreen {
    display: block
}

.videowall-still {
    position: relative;
    display: inline-block;
    color: #fff;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    border: 1px solid #000;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.videowall-still {
    width: 161px;
    height: 111px;
}

.full-screen .videowall-still {
    width: 322px;
    height: 222px;
}

.videowall-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    background: #000;
    opacity: 0;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.videowall-info-title {
    display: block;
    padding: 10px 10px 0;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    height: 55px;
    overflow: hidden;
}

.videowall-info-author {
    position: absolute;
    bottom: 25px;
    left: 10px;
    display: block;
    height: 11px;
    font-size: 11px;
    color: #999;
    overflow: hidden;
}

.videowall-info-duration {
    left: auto;
    right: 10px;
    text-align: right;
}

.videowall-still {
    position: relative;
    display: inline-block;
    color: #fff;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    border: 1px solid #000;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.videowall-info-view-count,
.videowall-info-duration {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 11px;
    color: #666;
}

.videowall-still:hover .videowall-info,
.videowall-still:focus .videowall-info {
    opacity: 0.86 !important;
}

.ytp-drop-down .ytp-button {
    float: none;
}

.ytp-drop-down-menu-button:hover:not(.ytp-disabled) {
    color: #fff;
    background-color: #555
}

.ytp-drop-down-menu-button-checked:hover:not(.ytp-disabled) .ytp-drop-down-menu-button-check {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -34px -262px
}

.ytp-drop-down-menu-button-selected .ytp-drop-down-menu-button-check {
    opacity: 1
}

.ytp-drop-down-label {
    z-index: 100000;
    color: #101010;
    border-radius: 2px;
    padding: 5px 17px 5px 5px;
}

.ytp-drop-down-arrow {
    position: absolute;
    top: 10px;
    right: 7px;
    border: 3px solid transparent;
    border-top-color: #555;
    border-bottom-width: 0;
}

.ytp-drop-down-label-content {
    display: inline-block;
}

.ytp-drop-down-menu {
    color: #555;
    position: absolute;
    left: 0;
    right: 0;
    outline: none;
}

.ytp-drop-down-menu {
    z-index: 100000;
}

.ytp-drop-down-menu,
.ytp-drop-down-label,
.ytp-drop-down-background {
    background-color: #e6e6e6;
    border-color: #101010;
    border-style: solid;
    border-width: 1px;
}

.ytp-drop-down-menu-content {
    max-height: 200px;
    overflow-y: auto;
}

.ytp-drop-down .ytp-button {
    float: none;
}

.ytp-drop-down-menu-button {
    color: #555;
    padding: 5px 3px;
    float: none;
}

.ytp-button {
    cursor: pointer;
    float: left;
    outline: 0 none;
}

.ytp-drop-down-menu-button-checked .ytp-drop-down-menu-button-check {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/player-common-vflbJjZA5.png) -93px -580px;
}

.ytp-drop-down-menu-button-check {
    background-size: auto;
    display: inline-block;
    height: 8px;
    margin: 0 3px;
    width: 11px;
    opacity: .5;
}

.video-controls-container .controls .play-pause-btn {
    width: 55px;
    height: 27px;
  border-right: 1px solid #222;
    padding-right: 1px;
}

.html5-bezel {
    display: block;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px
}

.html5-bezel[aria-hidden=true] {
    opacity: 0;
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.html5-bezel-play {
    margin: 18px 20px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 23px solid white
}

.html5-bezel-pause {
    margin: 18px 20px;
    width: 20px;
    height: 23px;
    border-right: 8.5px solid #fff;
    /* Initial width */
    border-left: 8.5px solid #fff;
}

.html5-bezel-stop {
    width: 22px;
    height: 20px;
    background: #fff;
    margin: 20px 19px
}

.html5-center-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 840
}
